{{ partial "head.html" . }}
<body>
<div id="container">
    {{ partial "main-nav.html" . }}
    <section id="main" class="outer">
        <h1 class="page-header" data-type-effect>{{ .Title }}</h1>
        <ul class="term-cloud">
            {{ range .Data.Terms.Alphabetical }}
            <li>
                <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}<span class="term-count">{{ .Count }}</span></a>
            </li>
            {{ end }}
        </ul>
    </section>
</div>
{{ partial "ga.html" }}
</body>
</html>
