{{ partial "head.html" . }}
<body>
<div id="container">
    {{ partial "main-nav.html" . }}
    <section id="main" class="outer">
            <div class="title-wrap">
                <h1 class="page-header" data-type-effect>{{ .Title }}</h1>
            </div>
            <p>{{ .Content }}</p>
            <div class="project-list">
                {{ range .Pages }}
                {{ partial "projects-list-item.html" . }}
                {{ end }}
            </div>
        {{ partial "pagination.html" . }}
    </section>
</div>
</body>
</html>
