// colours
$colour-a-link: #6680d1;
$colour-a-hover: #3b9597;
$colour-text-deemphasize: #777;
$colour-text-content: #444;
$colour-main-view-bg: #eee;

// fonts
$console-font: 'Inconsolata', Consolas, monaco, monospace, courier;
$copy-font: 'Open Sans', 'Lucida Grande', 'Lucida Sans', 'Arial', sans-serif;

$screen-medium: 48em;