@use "sass:color";
@use "variables";

@use "home";
@use "menu";
@use "blog";
@use "projects";
@use "search";
@use "icons";
@use "type-effect";
@use "pagination";
@use "fade-in";
@use "syntax";
@use "archive";

body {
  background: variables.$colour-main-view-bg;
  font-family: variables.$copy-font;
  margin: 0;
  @media (max-width: variables.$screen-medium-below) {
    font-size: 0.85em;
  }
}

::selection {
    background: color.adjust(color.adjust(variables.$colour-a-link, $lightness: 20%), $alpha: -0.5);
}

::-moz-selection {
    background: color.adjust(color.adjust(variables.$colour-a-link, $lightness: 20%), $alpha: -0.5);
}

#container {
  margin-bottom: 50px;
  @media (min-width: variables.$screen-medium) {
    display: flex;
  }
}

#main {
  max-width: 100%;
  @media (max-width: variables.$screen-medium-below) {
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: variables.$mobile-bar-height;
  }
  @media (min-width: variables.$screen-medium) {
    flex-grow: 1;
    max-width: calc(100vw - 300px);
    margin-right: 2vw;
  }
  @media (min-width: variables.$screen-large) {
    margin-right: 8vw;
    max-width: calc(80vw - 300px);
  }
  animation: fadeIn 0.6s;
}


h1, h2, h3, h4, h5, h6 {
  font-family: variables.$console-font;
  font-weight: normal;
  letter-spacing: -1px;
}


h1 {
  @media (min-width: variables.$screen-medium) {
    font-size: 2.2em;
  }
}

h2 {
  @media (min-width: variables.$screen-medium) {
    font-size: 1.75em;
  }
}

h3 {
  @media (min-width: variables.$screen-medium) {
    font-size: 1.5em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

:not(pre) > code:not([class]) {
  font-family: variables.$console-font;
  font-size: 0.9em;
  border: 1px solid variables.$colour-border;
  border-radius: 3px;
  padding: 1px 5px;
  background-color: #fbfbfb;
  color: #b3245c;
}


p, li {
  line-height: 1.5em;
  font-family: variables.$copy-font;
}

blockquote {
  border-left: 3px solid color.adjust(variables.$colour-a-link, $alpha: -0.6);
  padding: 2px 0 2px 20px;
  margin-left: 0;
  color: variables.$colour-text-deemphasize;
  font-style: italic;
}

.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: variables.$colour-a-link;
}
a:hover {
  color: variables.$colour-a-hover;
}

:focus-visible {
  outline: 2px solid variables.$colour-a-hover;
  outline-offset: 2px;
}

.page-header {
  font-size: 2.4em;
  margin-top: 25px;
  @media (min-width: variables.$screen-medium) {
    font-size: 3em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
