@use "sass:color";
@use "variables";

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
  margin: 50px 0;
  max-width: calc(#{variables.$content-width} + 300px);
}

.project-list-entry {
  padding: 15px;
  text-align: center;
  border-radius: 3px;
  background-color: variables.$colour-surface;
  border: 1px solid variables.$colour-border;
  box-shadow: variables.$box-shadow;
  display: flex;
  flex-direction: column;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:hover {
    border-color: color.adjust(variables.$colour-a-hover, $alpha: -0.5);
    box-shadow: 0 6px 14px -6px rgba(0, 0, 0, 0.4);
  }

  .title {
    margin-top: 0;
    font-size: 1.2em;
  }

  img {
    border-radius: 2px;
  }
}

.project-summary {
  text-align: left;
  font-size: 14px;
  flex-grow: 1;
}

.links {
  text-align: right;

  a.link-button {
    display: inline-block;
    padding: 4px 10px;
    margin-left: 4px;
    background-color: variables.$colour-a-link;
    border-radius: 2px;
    transition: background 0.3s;

    &:link, &:visited {
      color: white;
    }
    &:hover {
      background-color: variables.$colour-a-hover;
    }
  }
}
