{{ partial "head.html" . }}
<body>
<div id="container">
    {{ partial "main-nav.html" . }}
    <section id="main" class="outer">
        <section class="archives-wrap">
            <div class="title-wrap">
                <h1 class="page-header">{{ .Title }}</h1>
                {{ partial "blog-search.html" .Pages }}
            </div>
            <ul class="post-list">
                {{ range .Paginator.Pages }}
                {{ partial "blog-list-item.html" . }}
                {{ end }}
            </ul>
        </section>
        {{ partial "pagination.html" . }}
    </section>
</div>
</body>
</html>