<article class="article article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        {{ if .Title }}
        <header class="article-header">
            <h1 class="page-header" data-type-effect itemprop="name">{{ .Title }}</h1>
        </header>
        {{ end }}
        <div class="article-meta">
            <a href="{{ .RelPermalink }}" class="article-date">
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished" class="date">{{ .Date.Format "01 Jan 2006" }}</time>
            </a>
            {{ partial "tag-list.html" .Params.tags }}
        </div>
        <div class="article-entry" itemprop="articleBody">
            {{ .Content }}
        </div>
    </div>
</article>
