<div class="mobile-menu-button">
    <i class="icon-menu open-button"></i>
    <i class="icon-close close-button"></i>
</div>
<nav id="nav-pane">
    <div class="float-container">
        <div class="mobile-title">michaelbromley.co.uk</div>
        <nav id="main-nav">
            <ul>
                {{ $page := . }}
                {{ range .Site.Menus.main }}
                {{ $is := $page.IsMenuCurrent "main" . }}
                {{ $has := $page.HasMenuCurrent "main" . }}
                <li>
                    <a class="main-nav-link {{ if or $is $has }}selected{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <div class="social-links">
            <a href="mailto:michael@michaelbromley.co.uk" title="Contact me by email">

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <title>mail</title>
                    <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zM6 6h12c0.214 0 0.422 0.046 0.613 0.133l-6.613 7.715-6.613-7.715c0.191-0.087 0.399-0.133 0.613-0.133zM4.5 16.5v-9c0-0.031 0.001-0.063 0.003-0.094l4.398 5.131-4.35 4.35c-0.034-0.125-0.052-0.255-0.052-0.388zM18 18h-12c-0.133 0-0.263-0.018-0.388-0.052l4.268-4.268 2.119 2.473 2.119-2.473 4.268 4.268c-0.125 0.034-0.255 0.052-0.388 0.052zM19.5 16.5c0 0.133-0.018 0.263-0.052 0.388l-4.35-4.35 4.398-5.131c0.002 0.031 0.003 0.062 0.003 0.094v9z"></path>
                </svg>

            </a>
            <a href="https://twitter.com/michlbrmly"  title="Follow me on Twitter"><i class="icon-twitter"></i></a>
            <a href="https://github.com/michaelbromley/" title="Check out my GitHub repos"><i class="icon-github"></i></a>
        </div>
    </div>
</nav>
