{{ if or .PrevInSection .NextInSection }}
<nav id="article-nav">
    {{ with .PrevInSection }}
    <a href="{{ .RelPermalink }}" class="article-nav-link older" rel="prev">
        <span class="article-nav-label">&lt; Older post</span>
        <span class="article-nav-title">{{ .Title }}</span>
    </a>
    {{ end }}
    {{ with .NextInSection }}
    <a href="{{ .RelPermalink }}" class="article-nav-link newer" rel="next">
        <span class="article-nav-label">Newer post &gt;</span>
        <span class="article-nav-title">{{ .Title }}</span>
    </a>
    {{ end }}
</nav>
{{ end }}
