    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{ if .Params.ogimage }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.ogimage }}" />
    {{ end }}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@michlbrmly" />
    <meta name="twitter:title" content="{{ if .Params.ogtitle }}{{ .Params.ogtitle }}{{ else }}{{ .Title }}{{ end }}" />
    <meta name="twitter:description" content="{{ .Summary }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    {{ if .Params.ogimage }}
        <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.ogimage }}" />
    {{ end }}
