{{ partial "head.html" . }}
<body>
<div id="container">
    {{ partial "main-nav.html" . }}
    <section id="main" class="outer">
        <script src="assets/chromata.min.js"></script>
        <script>
            window.addEventListener('load', function() {
                var img = document.querySelector('.me');
                var chromata;

                function rand(arr) {
                    return arr[Math.floor(Math.random()*arr.length)];
                }

                function initChromata(randomize) {
                    var colorMode = randomize ? rand(['color', 'greyscale']) : 'greyscale';
                    var key = randomize ? rand(['low', 'high']) : 'high';
                    var line = randomize ? rand(['smooth', 'square', 'point']) : 'square';
                    var demonimator = randomize ? rand([1.25, 0.5, 1, 0.2, 1.5, 4, 2]) : 0.5;
                    var speed = randomize ? rand([1, 2, 3, 4, 5, 6, 7]) : 2;
                    var count = randomize ? rand([20, 50, 75, 100]) : 18;
                    chromata = new Chromata(img, {
                        colorMode: colorMode,
                        key: key,
                        lineMode: line,
                        lineWidth: 1,
                        origin: ['20% 20%', '20% 99%', '69% 99%', '51% 43%', '73% 45%', '60% 60%'],
                        pathFinderCount: count,
                        speed: speed,
                        turningAngle: Math.PI / demonimator,
                        outputSize: 'container'
                    });
                    chromata.start();
                }

                document.querySelector('.avatar-circle').addEventListener('click', function() {
                    chromata.reset()
                    initChromata(true);
                })

                setTimeout(function () {
                    initChromata(false);
                }, 10);
            });
        </script>
        <div class="container">
            <div class="jumbotron">
                <div class="avatar-circle">
                    <img src="assets/avatar.gif" class="me" style="visibility: hidden;">
                </div>
                <h1 data-type-effect="10">Michael Bromley</h1>
                <p class="lead" data-fade-in="100">Hi, I'm a software developer with a focus on web applications, user experience and creative coding.
                I'm currently spending most of my time working <a href="http://www.vendure.io">Vendure</a>, an open-source e-commerce framework.
                </p>

                <div class="featured" data-fade-in="200">
                    <h3>Featured Articles</h3>
                    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
                    {{ if eq "categories" $taxonomyname }}
                    {{ range $key, $value := $taxonomy }}
                    {{ if eq $key "featured" }}
                    <ul>
                        {{ range $value.Pages }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
</div>
{{ partial "ga.html" }}
</body>
</html>
